{% extends 'api/v1/baseBackoffice.html.twig' %}

{% block title %}Session index
{% endblock %}

{% block body %}
	<div class="main">
		<h1>Session index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Slug</th>
					<th>Title</th>
					<th>Description</th>
					<th>DayTime</th>
					<th>DayTimeEnd</th>
					<th>Picture</th>
					<th>NumberOfPlace</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for session in sessions %}
					<tr>
						<td>{{ session.id }}</td>
						<td>{{ session.slug }}</td>
						<td>{{ session.title }}</td>
						<td>{{ session.description }}</td>
						<td>{{ session.dayTime ? session.dayTime|date('Y-m-d') : '' }}</td>
						<td>{{ session.dayTimeEnd ? session.dayTimeEnd|date('Y-m-d') : '' }}</td>
						<td>{{ session.picture }}</td>
						<td>{{ session.numberOfPlace }}</td>
						<td>{{ session.createdAt ? session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ session.updatedAt ? session.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_api_v1_session_show', {'id': session.id}) }}">show</a>
							<a href="{{ path('app_api_v1_session_edit', {'id': session.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_api_v1_session_new') }}">Create new</a>
	</div>

{% endblock %}
