{% extends 'Backoffice/baseBackoffice.html.twig' %}

{% block title %}Discipline
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Discipline</h1>
		<button type="button" class="btn btn-warning">
			<a href="{{ path('app_backoffice_session_index') }}">Retour Session</a>
		</button>

		<button type="button" class="btn btn-warning">
			<a href="{{ path('app_backoffice_category_new') }}">Nouvelle discipline</a>
		</button>

		<table class="table table-light table-bordered table-hover">
			<tbody>

				<tr>
					<th>Nom</th>
					<td>{{ category.name }}</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-danger">
			<a href="{{ path('app_backoffice_category_edit', {'id': category.id}) }}">Modifier</a>
		</button>
		{{ include('Backoffice/category/_delete_form.html.twig') }}
	{% endblock %}
