{% extends 'Backoffice/baseBackoffice.html.twig' %}

{% block title %}Session
{% endblock %}

{% block body %}

	<div class="main">
		<h1>{{ session.title }}</h1>

		<button type="button" class="btn btn-warning">
			<a href="{{ path('app_backoffice_session_index') }}">Retour à la liste</a>
		</button>

		<div class="card mb-3">

			<div class="card-body">
				<h5 class="card-title">{{session.category.name}}
					/
					{{ session.spot.name}}</h5>
				<p class="card-text">{{ session.description}}</p>
				<ul>
					{% for level in session.level %}
						<li>{{level}}</li>
					{% endfor %}
				</ul>
				<p class="card-text">
					{{ session.dayTime ? session.dayTime|format_datetime('full', 'none', locale='fr') }}
					de
					{{ session.dayTime ? session.dayTime|date('H:i') : '' }}
					à
					{{ session.dayTimeEnd ? session.dayTimeEnd|date('H:i') : '' }}
				</p>
				<p>nb inscrit /
					{{ session.numberOfPlace }}</p>
				<img src={{ session.picture }} class="card-img-bottom" alt="...">
			</div>

			<button type="button" class="btn btn-warning">
				<a href="{{ path('app_backoffice_session_edit', {'id': session.id}) }}">Modifier</a>
			</button>

			{{ include('Backoffice/session/_delete_form.html.twig') }}
		</div>


	{% endblock %}
